*{  	margin: 0px;
  		padding: 0px;
  		box-sizing: border-box;
}

body {              
		width:   100%;
  		font-family:   'Montserrat', sans-serif;   
		user-select: none; 
}
#wrapper{
   		max-width:    100%;
        display: flex;
        flex-direction: column;
}
nav{
   	    display: flex;
 	    flex-direction: row;
 	    justify-content: flex-start;
 	    align-items: center;
 	    background:#0f894e;
 	    color: #ffd865;
 	    font-size: 25px;
 	    height: 40px;
}	
nav div{
		padding: 10px;
		padding-left: 25px;
		letter-spacing: 2px;
}
#grid{
		display: flex;
		flex-direction: row;
		margin-top: 10px;
		-webkit-box-shadow: 0px 10px 16px 0px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 10px 16px 0px rgba(0,0,0,0.75);
		box-shadow: 0px 10px 16px 0px rgba(0,0,0,0.75);
		position: relative;
}
.col{
		display: flex;
		flex-direction: column;
}
.cell{ 
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		cursor: pointer;
		background: white;
}

section{
		display: flex;
		flex-direction: column;
		align-items: center;
}
p{
	font-weight: 800
}
#info  {
		display: flex;
		flex-direction: row; 
		justify-content: space-around;
		margin-top: 20px;
		align-items: baseline;
}
#info  div{
		display: flex;
		flex-direction: row;  
		align-items: baseline;
		font-size: 30px; 
}

#difficulty{
 
    border: none;
    border-radius: 10px;
    background: #d5cbcb;
    color: #535353;
    font-size:18px;
    padding: 3px;
    appearance: none; 
}
#difficulty:focus{
	 outline-width: 0;
}
#timeCount{ 
font-variant-numeric: tabular-nums lining-nums;
}
#flagCount{ 
font-variant-numeric: tabular-nums lining-nums;
}
.fa-flag{ color: #e91e63 }
.fa-clock{ color: #2196F3; }
#gameOver{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
#gameOver div{
	display: none;
}
#gameOver div p:nth-of-type(1){
	margin-top: 5px;
	    font-size: 40px;
    color: #4CAF50;
}
#gameOver div p:nth-of-type(2){
	margin-top: 5px;
	       font-size: 25px;
    color: #525252;
}
#gameOver div p:nth-of-type(3){
	margin-top: 5px;
	       font-size: 25px;
    color: #525252;
}
.playAgain{
    background: #2196F3;
    border: none;
    border-radius: 15%;
    color: white;
    font-size: 18px;
    padding: 7px 16px;
    cursor: pointer;
}
.statsHeader{
	margin-top: 40px;
	background:  #4caf50;
}
#stats{
		display: flex;
		flex-direction: column;
		margin-bottom: 40px;
}
 
#stats div table{
		width: 100%;
}
 
h3{
	background: #4caf50;
	text-align: center;
	color: white;
}
td,th{ 
	text-align: center;
	 background: #e3d3ff;
    text-align: center;
    color: black;
    padding: 5px;

}
 
table {
  border-collapse: collapse;
}

table, th, td {
  border: none;
}